html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 150vh;
    background: linear-gradient(0deg, rgba(67,40,24,1) 0%, rgba(153,88,42,1) 100%);
    background-repeat: no-repeat;


}
img{
    position: absolute;
    height: 20vh;
    width: 15vw;
}
form{
    margin: 200px auto;
    

}
.form-control{
    
    background: #72513f !important;
    border: #33241c solid 2px !important;
}

.btn{
    background-color: #72513f !important;
}
.list-unstyled{
    padding-top: 3vh;
}
.fab{
    margin: 20px;
    font-size: 2rem;
}