@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&family=Permanent+Marker&display=swap');

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 150vh;
    background: linear-gradient(0deg, rgba(67,40,24,1) 0%, rgba(153,88,42,1) 100%);
    background-repeat: no-repeat;


}
/* ******* NAVABAR ****** */
.navbar-fixed-top{
    position: fixed!important;
    width: 100vw!important;
    z-index: 5000;
}
.navbar-custom,
.dropdown-menu{
    background-color: #99582A;
    color: rgba(67,40,24,1);
    
}
nav .navbar-nav  li  a{
    color: #241106;
}
nav .navbar-nav  li  a:hover{
    color: #572f18;
}
#navbarDropdown:focus{
    color: #0f0702;

}
.dropdown-item:hover{
    background-color: #5e341c;
    color: #351c0e !important;

}

/* *******  END NAVBAR *********/

h1{
    padding-top: 10vh;
        padding-left: 5vw;
        font-weight: bolder;
        font-family: 'Permanent Marker', cursive;
        color: #241106;
    }

.logo{
    position: absolute;
    height: 20vh;
    width: 15vw;
}
h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Permanent Marker', cursive;
    color: #241106;
    
    
    
}
/* .contenair{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
} */

.btn{
    position: relative;
    top: 200px;
    color: #241106 !important;
    

}

.mainBtn:hover,
.mainBtn1:hover,
.mainBtn2:hover,
.mainBtn3:hover{
    box-shadow: none;
    background: #582f0e !important;
    color: chocolate !important;
    transition: .5s;
}
.mainBtn,
.mainBtn1,
.mainBtn2,
.mainBtn3{
    width: 20vw;
    background: rgba(67,40,24,1) !important;
    border-color: saddlebrown;
    border: 2px solid;
    color:brown;
    margin: 100px 20px;
    


}

.mainBtn:active,
.mainBtn2:active,
.mainBtn1:active,
.mainBtn3:active{
    border-color: none ;
    box-shadow: none ;
    outline: none ;

}
