@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&family=Permanent+Marker&display=swap');

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(0deg, rgba(67,40,24,1) 0%, rgba(153,88,42,1) 100%);
    background-repeat: no-repeat;
    overflow-x: hidden;


}
/* ******* NAVABAR ****** */
.navbar-fixed-top{
    position: fixed!important;
    width: 100vw!important;
    z-index: 5000;
}
.navbar-custom,
.dropdown-menu{
    background-color: #99582A;
    color: rgba(67,40,24,1);
    
}
nav .navbar-nav  li  a{
    color: #241106;
}
nav .navbar-nav  li  a:hover{
    color: #572f18;
}
#navbarDropdown:focus{
    color: #0f0702;

}
.dropdown-item:hover{
    background-color: #5e341c;
    color: #351c0e !important;

}

/* *******  END NAVBAR *********/

h1{
    padding-top: 10vh;
        padding-left: 5vw;
        font-weight: bolder;
        font-family: 'Permanent Marker', cursive;
        color: #241106;
    }

.logo{
    
    width: 14vw;
}
h2{
    
    text-align: center;
    padding-top: 5vh;
    font-family: 'Permanent Marker', cursive;
    color: #241106;
     
    
}
.contenair{
    padding-top: 5vh;
    width: 100vw;

}
.row{
    width: 100vw;
    justify-content: center;
    
}
.col{
    width: 85%;
    
}

.mainBtn,
.mainBtn1,
.mainBtn2,
.mainBtn3{
    width: 240px;
    background: rgba(67,40,24,1) !important;
    color: #241106 !important;  
    margin: 5%;
    

}

.mainBtn:focus,
.mainBtn2:focus,
.mainBtn1:focus,
.mainBtn3:focus{
    /* border-color: none !important ; */
    box-shadow: none !important ;
    /* outline: none !important  ; */
    box-shadow: #351c0e 3px 4px 2px !important;

}

.modal{
    z-index: 6000 !important;
}


/* *********RESPONSIVE******** */

@media screen and (min-width:584px) and (max-width:1075px) {
    .mainBtn,
    .mainBtn1,
    .mainBtn2,
    .mainBtn3{
    
    margin: 10%;
    
}
        
}
@media screen and (min-width:1076px){
    
    .mainBtn:hover,
    .mainBtn1:hover,
    .mainBtn2:hover,
    .mainBtn3:hover{
    background: #582f0e !important;
    color: chocolate !important;
    transition: .5s;
}
}






