html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 150vh;
    background: linear-gradient(0deg, rgba(67,40,24,1) 0%, rgba(153,88,42,1) 100%);
    background-repeat: no-repeat;


}
img{
    position: absolute;
    height: 20vh;
    width: 15vw;
}