@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&family=Permanent+Marker&display=swap');

body{
    height: 100vh;
    width: 100vw;
    background-image: url(./img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    scroll-behavior:smooth;
    
    
}
/* ******* NAVABAR ****** */
.navbar-fixed-top{
    position: fixed!important;
    width: 100vw!important;
    z-index: 5000;
}
.logo{
    width: 20vw;
    height: 30vh;
}

h1{
    padding-top: 20vh;
    padding-left: 5vw;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    
}

h2{
    position: relative;
    top: 70px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 0  auto;
    border: solid 4px #432818;
    border-radius: 25px;
    width: 30vw;
    color: #432818;
    
    

}

#partOne,
#partTwo,
#partThree{
    height:40vh ;
    width: 100vw;
    
}

/******** SECTION PART 1 ********/
#partOne{
    margin-top: 45vh;
    height: 100vh;
    background-color: #99582A;   
}
    
.row{
    position: relative;
    top: 35px;
    height: 85vh;
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-around;
    
    
}
.align-self-start,
.align-self-center,
.align-self-end{
    /* display: flex;
    justify-content: space-around; */
    position: relative;
    top: 35px;
    border:2px solid #432818;
    border-radius: 20px;
    height: 25vh;
    width: 40vw;         
}

/******** SECTION PART 2 ********/

 #partTwo{
    height: 200vh;
    background-color: #844C26;
    

 }
 .part2{
     position: relative;
     top: 75px;
 }
 .card-img-top{
     height: 400px; ;
          
 }
 .card{
     height: 500px;
     width: 350px;
     border: 3px solid #432818;
     
 }

 .card:hover{
     border-color:#99582A
 }

/******** SECTION PART 3 ********/
#partThree{
    height: 100vh;
    background-color: #6E4021;
}
/* CAROUSEL */

 .carousel{
     left:33%;
     top: 90px;
     width: 500px;
     height: 600px;
     
 }
 .carousel-item>img{
     width: 400px;
     height: 600px;
 }
