@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&family=Permanent+Marker&display=swap');

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(./img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    scroll-behavior:smooth;
    
    
}
/* ******* NAVABAR ****** */
.navbar-fixed-top{
    position: fixed!important;
    width: 100vw!important;
    z-index: 5000;
}
.logo{
    width: 20vw;
    height: 30vh;
}

h1{
    padding-top: 20vh;
    padding-left: 5vw;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    
}

h2{
    position: relative;
    top: 70px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 0  auto;
    border: solid 4px #432818;
    border-radius: 25px;
    width: 30vw;
    color: #432818;
    
    

}

#partOne,
#partTwo,
#partThree{
    height:40vh ;
    width: 100vw;
    
}

/******** SECTION PART 1 ********/
#partOne{
    margin-top: 45vh;
    height: 100vh;
    background-color: #99582A;   
}
    
.row{
    position: relative;
    top: 35px;
    height: 85vh;
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-around;
    
    
}
.align-self-start,
.align-self-center,
.align-self-end{
    position: relative;
    top: 35px;
    border:2px solid #432818;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    height: 25vh;
    width: 40vw;  
           
}
.align-self-start:hover,
.align-self-center:hover,
.align-self-end:hover{
    font-size: 1.1rem;
    font-weight: bold;
    color:  #432818;
    border: 3px solid #432818;;
}

/******** SECTION PART 2 ********/

 #partTwo{
    height: 200vh;
    background-color: #844C26;
    

 }
 .part2{
     position: relative;
     top: 75px;
 }
 .card-img-top{
     height: 400px; ;
          
 }
 .card{
     height: 500px;
     width: 350px;
     border: 3px solid #432818;
     
 }

 .card:hover{
     border-color:#99582A
 }
 .card-body{
     padding: 0 2px;
 }
 .card-title{
     color: #432818;
 }
 .card-text{
     color: #6E4021;
 }

/******** SECTION PART 3 ********/
#partThree{
    height: 100vh;
    background-color: #6E4021;
}
/* CAROUSEL */

 .carousel{
     left:33%;
     top: 90px;
     width: 500px;
     height: 600px;
     
 }
 .carousel-item>img{
     width: 400px;
     height: 600px;
 }
 .d-block{
    border-radius: 15px; 
 }
     
 
 .carousel-caption>h5{
     background: #99582A;
     color: #000000;
     font-weight: bold;
     font-size: 1.5rem;
     border: #432818 solid 2px;
     border-radius: 10px;
     padding: 2px;
    
     
 }
 .carousel-caption>p{
     color: #99582A;
     font-weight: bold;
     font: size 1.2em; ;
 }

 /* ************************* */
 