@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&family=Permanent+Marker&display=swap');

html{
    
    background-color: #99582a;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior:smooth;
    overflow-x: hidden;
    
    
    
}
/* ******SCROLLBAR******* */
body::-webkit-scrollbar-thumb{
    background-color: #99582a;
    border-radius: 100px;
    border: #432818 solid 2px;
}
body::-webkit-scrollbar-track{
    background-color: #351706;
    border-radius: 100px;
}
body::-webkit-scrollbar{
    width: 16px;
}

/* ******* NAVABAR ****** */
.navbar-fixed-top{
    position: fixed!important;
    width: 100vw!important;
    z-index: 5000;
}
.navbar-custom,
.dropdown-menu{
    background-color: #99582A;
    color: rgba(67,40,24,1);
    
}
nav .navbar-nav  li  a{
    color: #241106;
}
nav .navbar-nav  li  a:hover{
    color: #572f18;
}
#navbarDropdown:focus{
    color: #0f0702;

}
.dropdown-item:hover{
    background-color: #5e341c;
    color: #351c0e !important;

}

/* *******  END NAVBAR *********/

/* Section PART */
#part{
    height: 100vh;
    width: 100vw;
    background: center;
    background-image: url(./img/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #43281860;
}
.logo{
    width: 20vw;
    height: auto;
}

h1{
    margin: 0 2vw;
    padding-top: 17vh;
    padding-left: 5vw;
    font-weight: bolder;
    font-family: 'Permanent Marker', cursive;
    color: #241106;
    text-shadow:  0px 0px 6px #99582a;

}

h2{
    
    
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 0  auto;
    border: solid 4px #432818;
    border-radius: 14px;
    width: 60%;
    color: #432818;
      

}

#partOne,
#partTwo,
#partThree{
    width: 100vw;
    padding-top: 14vh;
    
    
}

/******** SECTION PART 1 ********/
#partOne{
    background: linear-gradient(0deg, rgba(67,40,24,1) 0%, #844C26 100%);
}
.colPartOne1,
.colPartOne2,
.colPartOne3{
    width: 80%;
    margin: 3vw auto;
    border:2px solid #432818;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.colPartOne1{

    color:  #432818;
    border-color:  #432818;

}
.colPartOne2{

    color: #351c0e;
    border-color: #351c0e;
}
.colPartOne3{

    color:#140a03 ;
    border-color: #140a03;
} 

.presentation{
    width: 95vw;
}
video{
    width: 85%;
    margin-left:10% ;
    border: #351c0e 3px solid;
}



/******** SECTION PART 2 ********/

#partTwo{
    background: linear-gradient(0deg, rgb(132, 76, 38) 0%, rgba(67,40,24,1) 100%);
}

.part2{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 80%;
    margin-top: 10vh;
    margin:auto ;
}
.col{
    flex: 1;
    min-width: 55%;
    margin: 2vh ;
    
    
}
.title2{
    color: #99582A;
    border: #99582A solid 4px;
}

.card{
    border: 3px solid #432818;
    border-radius: 10px;
}
.card-body{
    background-color: #43281860;

}
.card-title{
    color: #351706;
}
.card-text{
    color: #6E4021;
}
 
 

/******** SECTION PART 3 ********/
 #partThree{
   
    background: linear-gradient(0deg,  rgba(110,64,33) 0% , rgb(132,76,38)100%);
    
}

/* CAROUSEL */

.carousel{
    width: 85%;
    margin: auto;
    margin-top: 5vh;
    border: 4px solid #432818;
    border-radius: 10px;
    
    
}
.carousel-caption>h5{
    background: #99582A;
    color: #000000;
    font-weight: bold;
    /* font-size: 1.5rem; */
    border: #432818 solid 2px;
    border-radius: 10px;
    padding: 2px;
}
.carousel-caption>p{
    color: #200f05;
    font-weight: bold;
    background-color: #412412e1;
    border-radius: 15px;
    
}

footer P{
    margin-top:3vh ;
    text-align: center;
    color: #351706;

}

 /* ***********RESPONSIVE************** */

 /* Section 1 */

 @media  screen and (min-width:1296px) {
     
         .part1{
             width: 90%;
             margin: auto;
         }
         .colPartOne1, .colPartOne2, .colPartOne3{
            margin: 2vw;
            
        }
        .colPartOne1:hover, .colPartOne2:hover, .colPartOne3:hover{
            animation:jello-horizontal 1.2s both;
        }
        @keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}
     }
    
     
 @media screen and (max-width:1295px) and (min-width:750px){
     .part1{
         width: 90%;
         margin: auto;
     }
     .colPartOne1, .colPartOne2, .colPartOne3{
         margin: 2vw;
         color:#2e1405 ;
     }


 }
 @media screen and (min-width:1024px) {
    .colPartOne1:hover,
    .colPartOne2:hover,
    .colPartOne3:hover{
        border: #241106 solid 3px;
   
 }
    .colPartOne1,.colPartOne2,.colPartOne3{
        color: #2e1405;
        font-weight: bold;
    }
}

 /* Section 2 */

   @media screen and (min-width:1296px) {
    .part2{
        display: flex;
        flex-wrap: wrap;
    }  
   .col{
       flex: 1;
          min-width:18%;
          
      }
      .card:hover{
        animation:wobble-hor-bottom 1.2s both
      }
      @keyframes wobble-hor-bottom{0%,100%{transform:translateX(0);transform-origin:50% 50%}15%{transform:translateX(-30px) rotate(-6deg)}30%{transform:translateX(15px) rotate(6deg)}45%{transform:translateX(-15px) rotate(-3.6deg)}60%{transform:translateX(9px) rotate(2.4deg)}75%{transform:translateX(-6px) rotate(-1.2deg)}} 
   }
   @media screen and (max-width:1295px) and (min-width:750px){
     .part2{
         display: flex;
         flex-wrap: wrap;
         width: 75%;
     }  
    .col{
        flex: 1;
           min-width:45%;
           
       }
   }


   /* Section 3 */
 
   @media  screen and (min-width:1296px){
       .carousel{
           width: 25%;
       }

   }  

   @media screen and (max-width:1295px) and (min-width:750px){
       .carousel{
           width:35%
       }
   }



