@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&family=Permanent+Marker&display=swap');

body{
    height: 40vh;
    width: 70vw;
    background-image: url(./img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    
    
}
/* ******* NAVABAR ****** */
.navbar-fixed-top{
    position: fixed!important;
    width: 100vw!important;
}

h1{
    padding-top: 20vh;
    padding-left: 5vw;
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    
}

h2{
    height: 40vh;
    /* padding-top: 90vh; */
    text-align: center;
    transform: translateX(25%);

}
#partOne{
    margin-top: 70%;

}

